body{
    background-color: aquamarine;
}
.calendario{
    text-align: center;
    margin-top: 3%;

    
}
.Contador_Reloj div{
    display: inline-block;
    font-size: 70px;
    line-height: 70px;
    background: black;
    color:white;
    padding: 10px;
    margin-right: 2px;
    margin-left: 3px;
}

/*.fa-solid.fa-clock{
    text-align: center;
    background-color: black;
    font-size: 55px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 12%;
    margin-bottom: 0%;
}*/