<!-- your html code here -->
<!--<p>Hello, I'm the first_heading.html</p>-->
<div class="container p-5 m-5">
<div class="row featurette ">
    <div class="col-7 col-md-7 col-sm-7">
        <div class="w-100 ">
            <h1 class="featurette-heading text-start ">This First Heading <span class="text-muted">Will Catch Your Eye</span></h1>
            <p class="lead text-start ">Some great placeholder content for the first featurette here. 
                Imagine some exciting prose here jxshxbakjbxkajsxbjjncshdcuhsduchusdhcu Imagine some exciting prose here 
                jxshxbakjbxkajsxbjjncshdcuhsduchusdhcu..</p>   
        </div>
    </div>
    <div class="col-5 col-md-5 col-sm-5">
      <img src="assets/img/1.jpg" class="rounded-circle rounded float-end" style="width:400px ;">
    </div>
  </div>
</div>

  