<!-- your html code here -->
<!--<p>Hello, I'm the services.html</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p>-->
<!-- your html code here -->
<div class="container">
<div class="row featurette">
    <div class="col-5 col-md-5 col-sm-5 order-md-1">
        <img src="assets/img/2.jpg" class="rounded-circle rounded float-start" style="width:400px;">
    </div>
    <div class="col-7 col-md-7 col-sm-7 order-md-2">
      <h1 class="featurette-heading text-start">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h1>
      <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
    </div>
    
  </div>
</div>
  
